@using Next_Solution.WebApi.Data.Entities.Identity
@model (User User, string Code)

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }

        .code {
            font-size: 24px;
            font-weight: bold;
            color: #000000;
            margin: 20px 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Reset Your Password</h1>
        <p>Hello @(Model.User.FullName),</p>
        <p>We received a request to reset your password. To proceed with the password reset, please use the following code:</p>
        <p class="code">@(Model.Code)</p>
        <p>If you didn't request this, you can ignore this email.</p>
        <p>Best regards,<br>Next_Solution</p>
    </div>
</body>

</html>
